<% layout("/layout/boilerplate") %>

    <body>
        <br>
        <div class="row mb-3">
            <div class="col-8 offset-2">
                <h1>Create New listing</h1>

                <form action="/listings" method="post" novalidate class="needs-validation">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                       
                     <input type="text" name="listing[title]" placeholder="Add a Catchy title" class="form-control" required>
                     <div class="valid-feedback">Title Looks Good!</div>
                    
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>

                        <input type="text" id="" placeholder="" name="listing[description]" class="form-control" >
                    </div>


                    <div class="mb-3">
                        <label for="image" class="form-label">Image</label>

                        <input type="text" placeholder="Give image URL/Link" name="listing[image]" class="form-control" required>
                    </div>
                    <div class="row">

                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>

                            <input  name="listing[price]" placeholder="1200" class="form-control" required>
                            <div class="invalid-feedback">Please enter valid price..!</div>
                       
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country</label>

                            <input type="text" name="listing[country]" placeholder="India" class="form-control" required>
                            <div class="invalid-feedback">Country Should be Valid!</div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>

                        <input type="text" name="listing[location]" placeholder="Jaipur,Rajesthan" class="form-control" required>
                        <div class="invalid-feedback">Location Should be Valid!</div>
                    </div>
                    <br>

                    <button class="btn btn-dark add-btn mb-3">Add</button>
                    
                </form>
            </div>
        </div>
    </body>